page-report {
  .toolbar-background {
    background-color: transparent;
  }
  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: color($colors, primary, base);
  }

  .toolbar-title-md {
    color: color($colors, primary, base);
  }
}
