page-dashboard {
  .toolbar-background {
    background-color: transparent;
  }

  .menu-color {
    color: color($colors, primary, base);
  }

  img {
    min-width: 100%;
    padding: 0px !important;
  }


  ion-footer {
    max-width: 100vh !important;
    bottom: -1%;
  }
}
