ion-menu {

  ion-header {
      .toolbar {
        position: absolute;
      .toolbar-background {
        background: transparent;
      }
    }
  }

  .list-md {
    margin: -1px 0 16px;
    margin-top: 40%;
  }


  .item-md {
    color: #ECECEC;
    background-color: transparent;
  }

  .content-md {
    //Color del background
    background-color: color($colors, primary, base);
  }

  .clear {
    background-color: transparent;
  }

  .icon-logo {
    height: 119px;
    width: 125px;
  }

  ion-icon {
    padding-right: 5%;
    display: inline-block;
    font-size: 1.2em;
    padding-left: 2%;
  }

}
